/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */



@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Regular.woff2') format('woff2'),
       url('fonts/Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Josefin Slab';
  src: url('fonts/JosefinSlab-Bold.woff2') format('woff2'),
       url('fonts/JosefinSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'Merriweather', serif;
  font-size: 10px;
  line-height: 1.8;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  color: #000;
}


h1, h2 {
  font-family: 'Josefin Slab', serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.6em;
}

section h2 + p {
  text-indent: 20px;
}

a {
  color: #a66;
  text-decoration: underline;
  outline: none;
}

a:visited {
  color: #844;
}

a:hover,
a:focus {
  color: #c44;
  text-decoration: none;
}

a:active {
  background-color: #a66;
  color: #fff;
  padding: 1px 3px;
  border-radius: 2px;
}


ul, ol {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding-left: 1.4em;
}

li {
  line-height: 1.8;
  margin-bottom: 0.4em;
}

ul li {
  list-style-type: square;
}


nav {
  background-color: #fff;
  border-left: 2px solid #a66;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav a {
  display: block;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #a66;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  color: #a66;
  font-size: 1.4rem;
  background-color: #fff;
}

nav a:hover {
  background-color: #a66;
  color: #fff;
}
